In [2]:
from IPython.core.display import HTML
css = open('/usr/local/style-table.css').read() + open('/usr/local/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
import pandas as pd

In [9]:
df = pd.read_csv("Ward_Level_Data.csv")
df = df.set_index('Ward_Alphabet')
num_cols = df.columns[9:len(df.columns)]
df = df[num_cols].reset_index().groupby('Ward_Alphabet').sum()
df = df.reset_index('Ward_Alphabet')

In [9]:
df.Ward_Alphabet

0       A
1       B
2       C
3       D
4       E
5     F/N
6     F/S
7     G/N
8     G/S
9     H/E
10    H/W
11    K/E
12    K/W
13      L
14    M/E
15    M/W
16      N
17    P/N
18    P/S
19    R/C
20    R/N
21    R/S
22      S
23      T
Name: Ward_Alphabet, dtype: object

In [10]:
Ward_Names = ['Colaba', 
              'Sandhurst Road', 
              'Marine Lines', 
              'Grant Road', 
              'Byculla', 
              'Matunga', 
              'Parel', 
              'Dadar/Plaza', 
              'Elphinstone',
              'Khar/Santacruz', 
              'Bandra', 
              'Andheri (East)', 
              'Andheri (West)', 
              'Kurla', 
              'Chembur', 
              'Chembur (West)', 
              'Ghatkopar', 
              'Malad', 
              'Goregaon', 
              'Borivali', 
              'Dahisar', 
              'Kandivali', 
              'Bhandup', 
              'Mulund']

In [11]:
df['Ward_Names'] = Ward_Names

In [12]:
# Reference: http://www.demographia.com/db-mumbaidistr91.htm
df['Land_Area'] = [12.5, 
                   2.5, 
                   1.8, 
                   6.6, 
                   7.4, 
                   13.0, 
                   14.0, 
                   9.1, 
                   10.0, 
                   13.5, 
                   11.6, 
                   24.8, 
                   23.4, 
                   15.9, 
                   32.5, 
                   19.5, 
                   26.0, 
                   19.1, 
                   24.4,
                   50.0, 
                   18.0, 
                   17.8, 
                   64.0, 
                   45.4 ]

In [15]:
df[['Ward_Alphabet', 'Ward_Names', 'Land_Area']]

   Ward_Alphabet      Ward_Names  Land_Area
0              A          Colaba       12.5
1              B  Sandhurst Road        2.5
2              C    Marine Lines        1.8
3              D      Grant Road        6.6
4              E         Byculla        7.4
5            F/N         Matunga       13.0
6            F/S           Parel       14.0
7            G/N     Dadar/Plaza        9.1
8            G/S     Elphinstone       10.0
9            H/E  Khar/Santacruz       13.5
10           H/W          Bandra       11.6
11           K/E  Andheri (East)       24.8
12           K/W  Andheri (West)       23.4
13             L           Kurla       15.9
14           M/E         Chembur       32.5
15           M/W  Chembur (West)       19.5
16             N       Ghatkopar       26.0
17           P/N           Malad       19.1
18           P/S        Goregaon       24.4
19           R/C        Borivali       50.0
20           R/N         Dahisar       18.0
21           R/S       Kandivali       17.8
22             S         Bhandup       64.0
23             T          Mulund       45.4

In [22]:
df['TOT_P_DEN'] = df['TOT_P_DEN'].map(lambda x : round(x, 2))

In [23]:
df.to_csv('ward_level_collated.csv')